<div class="footer">
    <div class="container">
        <div style="margin-bottom: 1.5em;">
            <a href="https://www.behance.net/ting_hsuan_su" target="_blank" title="Behance"><img src="img/behance.svg" style="width: 40px; margin: 8px;"></a>
            <a href="https://www.linkedin.com/in/ting-hsuan-su/" target="_blank" title="LinkedIn"><img src="img/linkedin.svg" style="width: 40px; margin: 8px"></a>
        </div>
            <p style="font-size: 14px; color: #707070;">Copyright &copy; 2020, Ting-Hsuan Su</p>
            <p style="font-size: 11px; color: #707070;">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
    </div>
</div>